@import url('https://fonts.googleapis.com/css2?family=Carter+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@500&display=swap');

/* 16 Desktop site heading
aka Header, Menu, Banner, Navigation
*/

.nawbar {
    position: absolute;
    width: 1920px;
    height: 80px;
    left: 0px;
    top: 0px;

    background: #222222;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.nawbar h2 {
    font-family: 'Carter One', cursive;
    font-style: normal;
    color: #5E6AD2;
    text-align: left;
    padding: 20px;
    margin: 0;
}

/* Page items */

.app {
    color: #5E6AD2;
    display: flex;
    flex-direction: row;
    font-family: 'Carter One', cursive;
    align-items: center;
    padding: 0px;
    gap: 48px;
    
    position: absolute;
    width: 633px;
    height: 44px;
    right: 64px;
    top: calc(50% - 44px/2);
    cursor: pointer;
}

.app p:hover {
    color: white;
}

.back {
    position: absolute;
    width: 1920px;
    height: 3000px;
    top: 0px;
    background: #1C1D1F;
    margin: 80px -8px;
    z-index: 0;
}

/* Первый бокс с iPhone 14 */
.one {
    position: absolute;
    width: 300px;
    height: 100px;
    left: 100px;
    top: 115px;
    padding: 49px 118px 52px 52px;
    background: #27272A;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.25);
    border-radius: 16px;
    z-index: 1;
}

.two {
    position: absolute;
    background: #27272A;
    width: 300px;
    height: 140px;
    left: 360px;
    bottom: 360px;
    padding: 49px 118px 52px 52px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.25);
    border-radius: 16px;
    z-index: 1;
}

.text {
    position: absolute;
    text-align: center;
    font-family: 'Righteous', cursive;
    color: #4242B9;
    top: 0px;
    left: 90px;
}

.box p {
    position: absolute;
    color: white;
    text-align: center;
    font-family: 'Rajdhani', sans-serif;
    margin: 20px 50px 0px 0px;
}

.three {
    position: absolute;
    width: 300px;
    height: 100px;
    left: 100px;
    top: 660px;
    padding: 49px 118px 52px 52px;
    background: #27272A;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.25);
    border-radius: 16px;
    z-index: 1;
}

.four {
    position: absolute;
    width: 554px;
    height: 734px;
    left: 1080px;
    bottom: 100px;
    margin: 0px;
    background: #4242B9;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.25);
    border-radius: 16px;
    z-index: 1;
}

.four h2 {
    position: absolute;
    font-family: 'Carter One', cursive;
    text-align: center;
    margin: 0px;
    left: 130px;
    top: 45px;
}

.logo {
    height: 120px;
    padding: 0px 0px 0px 0px;
}